
<div class="container" style="width:30%">
<%= form_for @image, url: "/image/edit/#{@image.id}", :html => {:class => "form-horizontal", role:"form", multipart: true  } do |f| %>
<h2>Edit Image</h2>
<%= image_tag @image.path %>
<div class="form-group">
<%= f.label :store, "Filters:" %> 
<label>Rotate: </label><%= select 'edit','rotate',{'None' =>0,'Clockwise (90)'=>90, 'Upside down (180)'=>180, 'Counter clockwise (270)'=>270} %>
<!-- Don't know what type of controls to add here for the filters.-->
</div>
<div class="form-group">
<%= f.label :store, "Description:" %><%= f.text_area :description, class:"form-control"  %><br />
</div>
<div class="form-group">
<%= f.label :store, "Permission:" %> <br />
<%= select 'permission', 'level',{Private:0,Shared:1,Public:2},{id:'permissionselect', selected:@perm.to_s}, onchange:'var perms=$("#permissionbox");if ($(this).val
()==1){perms.show()}else{perms.hide();}' %> <br/>
<div id="permissionbox" style="display:none">
<label>Usernames:</label><input type="text" name="permission[users]"/>
</div>
</div>
<div class="form-group">
<%= f.submit "Save", class: "btn btn-lg btn-primary" %>
</div>
<% end %>
<%= link_to "delete image", "/image/delete/#{@image.id}",method: :delete,class: "btn btn-lg btn-danger" %>
</div>
