<div class="container" style="width:30%">
<% if @image_version.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">The form contains <%= pluralize(@user.errors.count, "error") %>.</div>
		<ul>
			<% @image.errors.full_messages.each do |msg| %>
	    	<li>* <%= msg %></li>
	    <% end %>
	  </ul>
	</div>
<% end %>

<%= form_for @image_version, url: upload_path, :html => {:class => "form-horizontal", role:"form", multipart: true  } do |f| %>
<h2>Upload Image</h2>
<div class="form-group">
<%= f.label :store, "Select Image:" %><%= f.file_field :store %>
</div>
<div class="form-group">
<%= f.label :description, "Description:" %><%= f.text_area :description, class:"form-control"  %><br />
</div>
<div class="form-group">
<%= f.label :store, "Permission:" %> <br />
<%= select 'permission', 'level',{Private:0,Shared:1,Public:2},{id:'permissionselect'}, onchange:'var perms=$("#permissionbox");if ($(this).val()==1){perms.show()}else{perms.hide();}' %> <br/>
<div id="permissionbox" style="display:none">
<label>Usernames:</label><input type="text" name="permission[users]"/>
</div></div>
<div class="form-group">
<%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
</div>
<% end %>
</div>
