<h1><%= image_tag @user.gravatar_image %><%= @user.userName %></h1>
<p><%= link_to "change image", 'http://en.gravatar.com/support/what-is-gravatar/' ,target:'new'%>

<%= form_for @user, url: user_edit_path, method: 'patch' do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :firstName, 'First Name:' %> <%= f.text_field :firstName %><br />
Last Name: <%= f.text_field :lastName %><br />
Email Address: <%= f.text_field :email %><br />
<%= f.label :current_password,'Current Password:' %> <%= f.password_field :current_password %><br />
Password: <%= f.password_field :password %><br/>
Confirmation:<%= f.password_field :password_confirmation %><br />
<%= f.submit %>
<% end %>
