<% provide(:title, "Sign in") %>


<div class="container" style="width:30%;">
 <div class="span6 offset3" >
    
    
    
        <%= form_for(:session, url: login_path, :html => {:class => "form-signin", role:"form"}) do |f| %>
        <h2 class="form-signin-heading">Sign In</h2>
          <%= f.label :token, "Username/Email" %>
          <%= f.text_field :token, class: "form-control", :autofocus =>true   %>
          <%= f.label :password %>
          <%= f.password_field :password, class:"form-control" %> <br/>
          <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
          <% end %>
    
    <p>New user? <%= link_to "Register now!", register_path %></p>
  </div>
</div>
