
<div class="container" style="max-width:800px">
<%= form_for @user, url: register_path, :html => {:class => "form-signin", role:"form"} do |f| %>
<h1>Register</h1>
<%= render 'shared/error_messages' %>
First Name: <%= f.text_field :firstName, class:"form-control" %><br/>
Last Name: <%= f.text_field :lastName, class:"form-control" %><br />
User Name: <%= f.text_field :userName, class:"form-control" %><br />
Email Address: <%= f.text_field :email, class:"form-control" %><br />
Password: <%= f.password_field :password, class:"form-control" %><br/>
Confirmation:<%= f.password_field :password_confirmation, class:"form-control" %><br />
<%= f.submit "Register", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
</div>
