<% provide :title,"Home" %>
<div class="center hero-unit">
<h1>Image Magik</h1>
<div class="container">
<% if @images %>
<% @images.each do |image| %>
<%= img_link(image, size: 'thumb') %>
<% end %>
<% end %>
</div>
</div>
