@import "bootstrap-sprockets";
@import "bootstrap";

html {
	overflow-y: scroll;
}    
section {
	overflow: auto;
}
      
textarea {
	resize: vertical;
}
        
.center {
	text-align: center;
}
          
.center h1 {
	margin-bottom: 10px;
}

img {
	max-width: 75%;
}
.thumb {
	max-width: 100px;
	max-height: 100px;
}
