<header class="navbar navbar-static-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "image magik", root_path, id: "logo",class:"navbar-brand" %>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<nav class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<% if logged_in? %>
					<li><%= link_to 'shared', "/shared/1" %></li>
					<li><%= link_to 'photos', "/photos/1" %></li>
					<li><%= link_to "profile", "/user/#{current_user.userName}" %></li>
					<li><%= link_to "logout", logout_path, method: 'delete' %></li>
				<% else %>
					<li><%= link_to "login", login_path %></li>
					<li><%= link_to "Register", register_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
